<h1>Dragonball page</h1>
<hr>
<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{name()}} - {{power()}}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <input type="number"
      class="form-control"
      placeholder="Poder"
      [value]="power()"
      (input)="power.set((txtPower.valueAsNumber))"
      #txtPower
    />

    <button class="btn btn-primary mx-2 mt-2">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <ul>
      @for (character of characters(); track character.id; let idx=$index) {
        @if (character.power > 500) {
          <li>
            <span>{{idx + 1}} {{character.name}}</span>
            <!-- <span [ngClass]="characterClasses()[character.id]"> {{character.power}}</span> -->
            <span [class.text-danger]="character.power >= 9000" [class.text-warning]="character.power > 5000 && character.power < 9000" [class.text-muted]="character.power <1000"> {{character.power}}</span>
          </li>
        }
      }
    </ul>
  </div>
</section>
