<h3>Agregar: {{ name() }} - {{ power() }}</h3>
<input
  type="text"
  class="form-control"
  placeholder="Nombre"
  [value]="name()"
  (input)="name.set(txtName.value)"
  #txtName
/>
<input
  type="number"
  class="form-control"
  placeholder="Poder"
  [value]="power()"
  (input)="power.set(txtPower.valueAsNumber)"
  #txtPower
/>

<button class="btn btn-primary mx-2 mt-2" (click)="addCharacter()">Agregar</button>
<button class="btn btn-danger mx-2 mt-2" (click)="resetFields()">Limpiar</button>
@if (showError() != null) {
  <br />
  <span class="mt-2" [class.text-danger]="showError() != null">{{ showError() }}</span>
}
